img{
    
  width :150px ;
  height:150px;
  border-radius: 10px;  
}
h1 {
  font-size: 50px;
  color:black;
  font-weight: normal;
  text-align: center;

}
.cent{
    text-align: center;
}

body{
  border-radius: 10em;
  border-bottom-width: 0.2em;
  background: url(img1.jpg);
}
p{
  margin-bottom: 20px;
  line-height: 28px;
  font-size: 16 px;
  color: honeydew;
}
.uno {
  font-family: fantasy;    
  text-align: center;
  font-size: 24px;
}
.dat 
{
    width: 100%;      
}
table {
  margin: 10px;
  padding: 10px;
}
.dat th,td,tr{
  width: 20%;  
  text-align: justify;
  border: black 2px solid;
}
.contenedor2{ 
  border-radius: 50em;
   text-align: center;
  margin: 50px auto;
  width :1200px ;
  height:900px;
  padding:20px;
  background: url(img3.jfif) no-repeat;
  background-size:100% 100%;
  overflow: auto;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}